{% extends 'x.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<style>
    body{
        background-image: url("../bg.jpg");
        background-size: cover;
        height: 100vh;
        
        display: flex;
        align-items: center;
        justify-content: center;
       
       }
       .card{
         height: min-content;
         padding: 20px;
         border-radius: 12px;
         background:rgba(235, 235, 235, 0.86);
       }
</style>
<div class="container">
    <div class="position-relative">
        <div class="row">
            <div class="col-6 mt-4 m-auto">
                <div class="card">
                    <div class="card-header">
                        <h3>User Login Page</h3>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="alert alert-dismissible alert-success">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    <strong>Well done!<a href="#" class="alert-link">You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}"></a></a>.</strong>
                                </div>
                                <div class="mb-3">
                                    >Logout</a>
                                </div>
                            {% endif %}

                            
                            <label for="inputEmail">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                            <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                            >

                            

                            <button class="btn btn-lg btn-primary mt-3 mb-2" type="submit">
                                Sign in
                            </button>
                            <div class="mb-3">
                                Not registred ? <a href="{{ path('app_register') }}" class="btn btn-success">register now</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
